:root {
  font-size: 62.5%; /* reset default fontsize to 10px */
}

body {
  margin: 0;
  background-color: #fff;
  color: #000;
  font-size: 1.6rem; /* equivalent to 16px */
  line-height: 1.5;
}

/* Apply border-box to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  border: 0; /* =< IE10 gets a blue border on images that are links */
  max-width: 100%;
  vertical-align: middle; /* remove the space below images */
}

/* make sure that form elements use the right font family */
input,
button,
textarea,
select {
  font-family: inherit; /* apply body font family to "system" elements */
}

/* align focus styles across browsers */
*:focus {
  outline: 5px solid rgba(0, 103, 244, 0.247); /* Fallback for Safari which doesn't understand the auto keyword */
  outline: 5px auto rgba(0, 103, 244, 0.247);
}

/* remove inner border on buttons in FF when focused */
*::-moz-focus-inner {
  border-style: none;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  padding: 0;
}

/* Make sure there is enough spacing beween paragraphs (WCAG AA 1.4.12) */
p + p {
  margin-top: 2em;
}

/* Remove animations, transitions for users who have turned them off in their OS */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
